:root {
    --carbono_oscuro: #303030;
    --gris_cine: #545454;
    --plata_pantalla: #D9D9D9;
    --rojo_premier: #FF0000;
    --azul_cinema: #007BFF;
    --oro_estelar: #FFD700;
    --blanco: #fff;
    --negro: #000;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--carbono_oscuro);
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
}

#bodyLogin {
    height: 100vh;
}

/* index.jsp and register.jsp */

#login, #register {
    background-color: var(--plata_pantalla);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    width: 100%;
}

#login {
    max-width: 400px;
}

#register {
    max-width: 800px;
}

#login h1, #register h1 {
    margin-top: 0;
    font-weight: bold;
    color: var(--carbono_oscuro);
}

#login input[type="text"], #login input[type="password"], #register input[type="text"], #register input[type="password"], #register input[type="email"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
}

#login button[type="submit"], .buton_login {
    background-color: var(--rojo_premier);
    color: var(--blanco);
    padding: 10px 20px;
    width: 100%;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#login button[type="submit"]:hover, .buton_login:hover {
    background-color: var(--azul_cinema);
    transition: 0.3s;
}

#login a, #register a {
    text-decoration: none;
    color: var(--gris_cine);
    display: block;
    text-align: center;
    margin-top: 20px;
}

@media (min-width: 768px) {
    #login, #register {
        padding: 40px;
    }
}

@media (min-width: 1024px) {
    #login, #register {
        padding: 60px;
    }
}

/* indexConten.jsp */

.container {
    background-color: var(--plata_pantalla);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    max-width: 1200px;
    margin: 10px auto;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header {
    background-color: var(--plata_pantalla);
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid var(--gris_cine);
}

.logo {
    margin-right: 20px;
}

.logo img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.menu li {
    margin-right: 20px;
}

.menu a {
    color: var(--gris_cine);
    text-decoration: none;
    transition: 0.3s;
}

.menu a:hover {
    color: var(--azul_cinema);
}

#cuerpoPeliiculas {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 20px;
}

.movie, .actor {
    display: flex;
    align-items: center;
    width: 100%;
    max-width: 500px;
    margin: 10px;
    padding: 20px;
    box-sizing: border-box;
}

.info {
    flex: 1;
    margin-right: 20px;
}

.title, .name {
    font-size: 32px;
    margin-bottom: 10px;
}

p {
    font-size: 16px;
    color: #545454;
    margin-bottom: 20px;
}

.info_act {
    display: flex;
    flex-wrap: wrap;
}

.info_act p {
    margin-right: 20px;
}

.poster, .photo {
    width: 100%;
    max-width: 200px;
    border-radius: 5px;
    margin-bottom: 20px;
}

.footer {
    background-color: var(--plata_pantalla);
    padding: 10px;
    text-align: center;
    color: var(--gris_cine);
    border-top: 1px solid var(--gris_cine);
}

.footer p {
    margin: 0;
}